body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 350px;
    padding: 40px 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

form {
    background: none;
    box-shadow: none;
    padding: 0;
}

.login-box h2 {
    margin-bottom: 25px;
    font-weight: bold;
    color: #D9C8A1;
}

.login-box input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    font-size: 15px;
    border-radius: 12px;
    border: none;
    transition: 0.25s;
    border: 1px solid rgba(255,255,255,0.2);
}

.login-box input:focus {
    outline: none;
    box-shadow: 0 0 12px rgba(161, 217, 164, 0.6);
}

.login-box button {
    box-sizing: border-box;
    width: 100%;
    background-color: #3A6B35;
    color: #D9C8A1;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.login-box button:hover {
    background: #D9C8A1;
    color: black;
    transform: translateY(-2px);
}

.separador {
    margin: 10px 0;
    text-align: center;
    color: #D9C8A1;
    position: relative;
}

.separador::before,
.separador::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: rgba(217, 200, 161, 0.4);
}

.separador::before { left: 0; }
.separador::after { right: 0; }

.link a {
    text-decoration: none;
    color: #D9C8A1;
    font-weight: 500;
    display: inline-block;
    margin-top: 15px;
    transition: 0.2s;
}

.link a:hover {
    color: #3A6B35;
    text-decoration: underline;
}

.forgot-password {
    text-align: left;
}

.forgot-password a {
    font-size: 13px;
    color: #D9C8A1;
    text-decoration: none;
    font-weight: 300;
    transition: 0.2s;
}

.forgot-password a:hover {
    color: #3A6B35;
    text-decoration: underline;
}

.login-google{
    box-sizing: border-box;
    width: 100%;
}
.g_id_signin{
    box-sizing: border-box;
    width: 100%;
}

.recover-text {
    font-size: 14px;
    color: #D9C8A1;
    margin-bottom: 20px;
    line-height: 1.5;
}
