/* He utilizado https://transfonter.org/ para utilizar la siguiente fuente */
/* https://www.youtube.com/watch?v=Xs3cC8-5QDI NAVBAR */

@font-face {
    font-family: 'Park zoo';
    src: url('Parkzoo-Regular.woff2') format('woff2'),
        url('Parkzoo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}


.video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    position: relative;
    margin-top: 40px;
    gap: 20px;
}

.barra-tiempo{
    position: fixed;
    top: 20px;
    right: 20px;
    color: #D9C8A1;
    font-family: 'Park zoo';
    padding: 15px 25px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.35); 
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    align-items: center;
    display: flex;
}

.barra-navegacion img{
    width: 60px;
    height: 60px;
}

.barra-navegacion{
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 15px 25px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.35); 
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    min-width: 0;
    white-space: nowrap;
}

.barra-navegacion nav{
    display: flex;
    gap: 50px;
    z-index: 10;
}

.barra-navegacion nav a{
    font-family: 'Park zoo';
    text-decoration: none;
    color: #D9C8A1;
    font-size: 25px;
    padding: 15px;
    transition: .4s ease;
    border-radius: 40px;
    border-bottom: 2px solid transparent;
    
}

.barra-navegacion nav a:hover{
    color: #3A6B35;
    background: #D9C8A1;
    transform: scale(1.10);
    -webkit-backdrop-filter: blur(10px);
}


.iniciar-sesion {
    position: static;
    right: 120px;
    font-family: 'Park zoo';
    font-size: 20px;
    padding: 10px 20px;
    background-color: #D9C8A1;
    color: #3A6B35;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.iniciar-sesion:hover{
    background-color: #3A6B35;
    color: #D9C8A1;
    transform: scale(1.10);
}

.abrir-menu, .cerrar-menu{
    display: none;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #D9C8A1;
    
}

.redes-sociales{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redes-sociales a{
    color: #3A6B35;
}

.redes-sociales a:hover{
    color: #8B5E3C
}



@media screen and (max-width: 900px){
    .abrir-menu, .cerrar-menu{
        display: block;
        border: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #D9C8A1;
        cursor: pointer;
    }

    .barra-navegacion nav{
        opacity: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(4px);
        border-radius: 20px;
        padding: 2rem;
    }

    .barra-navegacion nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .navegacion-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
    }

    .barra-tiempo{
        position: static;
        backdrop-filter: none;
        box-shadow: none;
        background: none;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        font-size: 20px;
    }


    .barra-navegacion img{
        vertical-align: middle;
    }
}

